/* Utility classes */
.small {
  font-size: 0.9rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.padding {
  padding: 1rem;
}

[hidden] {
  display: none;
}
